.edition {
    &__left {
        padding-left: 110px;
        &-title {
            background-color: $blue-dark;
            display: inline-block;
            border-radius: 7px;
            margin-top: 20px;
            & h2 {
                font-family: 'Libel-Suit';
                color: $white;
                padding-left: 25px;
                margin-bottom: 15px;
                margin-top: 15px;
                padding-right: 110px;
            }
        }
        &-description {
            margin-top: 25px;
            background-color: $blue-light;
            width: 94%;
            padding-bottom: 12px;
            border-radius: 7px;
            &-image {
                width: 90%;
                margin-left: 15px;
                margin-top: 40px;
                margin-bottom: 30px;
            }
            &-text {
                font-family: 'Libel-Suit';
                color: $white;
                display: block;
                text-align: center;
                font-size: 28px;
                line-height: 1.2;
            }
        }   
    }
    &__gallery {
        margin-left: -25px;
        &-image {
            width: 80%;
            display:block;
            margin:auto;
        }
        &-text {
            display: block;
            text-align: center;
            font-family: Verdana;
            color: $gray-darker2;
            font-size: 14.5px;
        }
        &-container {
            margin-bottom: 20px;
        }
    }
    &__advertisement {
        width: 77%;
        color: $white;
        &-right {
            width: 91.4%;
        }
        &-description {
            background-color: $gray-darker;
            margin-top: 25px;
            letter-spacing: 2px;
            font-family: verdana;
            text-align: center;
            padding-top: 110px;
            padding-bottom: 110px;
            &-right {
                margin-top: 0;
            }
        }
        &-image {
            background-image: url('../images/cellphone.jpeg');
            background-size: contain;
            height: 220px;
        }
        &-text {
            font-size: 20px;
            display: block;
        }
        &-subtext {
            font-size: 10px;
            display: block;
        }
    }
}