.header {
    position: relative;
    &__caption {
        max-width: 27%;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 42%;
        transform: translate(-50%, 0);
    }
    &__text{
        font-size: 1.18vw;
    }
    &__image {
        float: right;
        margin-top: 3%;
        margin-right: 2%;
        width: 22.5%;
        height: 4.4vw;
    }
}

