.header {
    position: relative;
    &__caption {
        max-width: 27%;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50px;
        transform: translate(-50%, 0);
    }
    &__text{
        font-size: 16px;
    }
    &__image {
        float: right;
        margin-top: 40px;
        margin-right: 30px;
        width: 300px;
        height: 60px;
    }
}

