.interview {
    &__main {
        &-container {
            margin-top: 5px;
        }
        &-title {
            color: $white;
            font-family: 'Libel-Suit';
            padding: 15px 20px;
            background-color: $blue-dark;
            display: inline-block;
            margin-left: 90px;
            border-radius: 7px;
            margin-top: 0;
            &--first {
                font-size: 35px;
                padding: 12px 20px;
                margin-top: 16px;
                margin-bottom: 16px;
            }
            &--third {
                padding: 12px 57px;
                font-size: 35px;
                margin-top: 16px;
            }
        }
    }
    &__gallery {
        margin-left: 82px;
        &-profile {
            text-align: center;
            display: inline-block;
            vertical-align: text-top;
            color: $gray-darker2;
            margin-top: 49px;
            &--one {
                margin-right: 60px;
            }
            &--six {
                margin-right: 10px;
            }
            &--eight {
                margin-right: 30px; 
            }
            &--ten {
                margin-left: 10px;
            }
            &--eleven {
                margin-left: 40px;
                margin-right: 85px;
            }
            &--twelve {
                margin-left: 67px;
                margin-right: 67px;
            }
            &--thirteen {
                margin-left: 25px;
            }
            &--fourteen {
                margin-left: 40px;
                margin-right: 55px;
            }
            &--fifteen {
                margin-left: 40px;
                margin-right: 40px;
            }
            &--sixteen {
                margin-left: 46px;
            }
            &--seventeen {
                margin-left: 40px;
                margin-right: 96px;
            }
        }
        &-image {
            width: 85%;
            &--increase {
                width: 115%;
                &-two {
                    width: 104%;
                }
            }
        }
        &-text {
            display: block;
            &-space {
                margin-top: 10px;
            }
            &-expand {
                width: 115%;
                &-two {
                    width: 104%;
                }
            }
        }
    }
    &__question {
        &-text {
            color: $blue-dark;
            font-size: 17.5px;
            font-family: Verdana;
            text-align: justify;
        }
        &-answer {
            color: $gray-darker2;
            font-family: Verdana;
            font-size: 16px;
            text-align: justify;
            padding-right: 10px;
            &-space {
                margin-bottom: 0;
            }
        }
        &-space {
            margin-left: 90px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &-one {
        &__first-image {
            margin-left: 90px;
            width: 78%;
            height: 507px;
        }
        &__fifth-image {
            width: 32.1%;
            float: left;
            margin-right: 23px;
            margin-bottom: 1px;
        }
        &__sixth-image {
            float: right;
            width: 46%;
            margin-left: 20px;
            padding-top: 11px;
        }
        &__tag {
            position: absolute;
            left: 296px;
            top: 237px;
            font-size: 21px;
            padding: 7px 10px;
        }
        &__profile {
            display: inline-block;
            width: 44%;
        }
        &__questions {
            width: 56%;
            float: right;
            margin-top: 73px;
            margin-left: 0px;
            padding-left: 10px;
            text-align: justify;
            padding-right: 13px;
        }
        &__photos {
            margin-left: 90px;
            margin-bottom: 24px;
        }
        &__photo {
            width: 29%;
            margin-right: 14px;
            &-one {
                width: 29.12%;
            }
            &-two {
                width: 29%;
            }
            &-three {
                width: 36.7%;
            }
        }
        &__container-info {
            margin-top: 4px;
        }
    }
    &-two {
        &__first-image {
            float: left;
            width: 48.5%;
            margin-right: 20px;
            padding-top: 9px;
        }
        &__profile {
            margin-left: 90px;
        }
    }
}

.advertisement {
    &__image {
        background-image: url('../images/cellphone.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 230px;
        margin-top: 24px;
        margin-left: 10px;
        &-second {
            background-image: url('../images/3.jpeg');
            height: 218px;
            margin-top: 0px;
        }
    }
    &__description {
        background-color: $gray-darker;
        letter-spacing: 2px;
        font-family: verdana;
        text-align: center;
        padding-top: 90px;
        padding-bottom: 120px;
        color: $white;
        width: 71%;
        margin-left: 10px;
        &-second {
            background-color: $blue-sky;
            margin-top: 23px;
        }
    }
    &__text {
        font-size: 20px;
        display: block;
    }
    &__subtext {
        font-size: 10px;
        display: block;
    }
}

